/* ---------- CONFIGURACION GENERAL ---------- */
@font-face {
    font-family: inter;
    src: url(./assets/fonts/inter.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

:root {
    --primary-bg: #12131A;
    --secondary-bg: #1C1F2A;
    --primary-text: #F2F2F7;
    --secondary-text: #B4B7C9;
    --card-1: #C99DFF;
    --card-2: #FFB21E;
    --card-3: #FF8A65;
    --meter-bars: #D19BFF;
    --borders: #2A2D3A;
    --light: #525563;
}

/* ---------- CONFIGURACION BODY, HEADER, SECTION ---------- */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg);
    color: white;
}

section {
    background-color: var(--primary-bg);
    height: 800px;
    width: 800px;
    padding: 15px;
}

header {
    color: var(--secondary-text);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hgroup {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

hgroup img {
    height: 100%;
}

header button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: var(--borders);
    cursor: pointer;
}

header button img {
    width: 80%;
    height: 80%;
}

header button:hover {
    background-color: var(--secondary-bg);
    border: solid;
    border-color: var(--borders);
}

/* ---------- PRIMER DIV: WRITE-AREA ---------- */
.write-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.write-area h1 {
    font-size: 65px;
    text-align: center;
    width: 75%;
    color: var(--primary-text);
}

.write-area textarea {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    height: 200px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    line-height: 2;
    font-size: 15px;
    border: solid 3px var(--borders);
    resize: none;
}

.write-area textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--light);
}

/* ---------- SEGUNDO DIV: CONTROLS ---------- */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--secondary-text);
}

.checkbox {
    display: flex;
    gap: 25px;
}

.checkbox label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox label input {
    appearance: none;
    height: 18px;
    width: 18px;
    border: solid 2px var(--secondary-text);
    border-radius: 5px;
    cursor: pointer;
}

.checkbox label input:checked {
    background-color: var(--secondary-text);
    box-shadow: 0 0 10px var(--light);
}